In [1]:
import pandas as pd

In [61]:
df = pd.read_csv("/Users/pedrosanhueza/EXOXY/Administrative Documents/Jobs/geoaire/Planilla I-tree Candelaria.csv")

In [63]:
df.columns = map(str.lower, df.columns)

In [67]:
# Check if 'fecha' is in the columns
if 'fecha' in df.columns:
    # Drop the 'fecha' column
    df = df.drop('fecha', axis=1)

# change column name 'velocidad'
substrings_to_replace_velocidad = ["vv", "viento", "velocidad", "velocidad del viento"]
for column in df.columns:
    if any(substring in column.lower() for substring in substrings_to_replace_velocidad):
        new_column_name = "Velocidad del viento (m/s)"
        df.rename(columns={column: new_column_name}, inplace=True)

# change column name 'mp2,5'
substrings_to_replace_mp = ["mp", "2,5", "25"]
for column in df.columns:
    if any(substring in column.lower() for substring in substrings_to_replace_mp):
        new_column_name = "MP2,5 (µg/m³)"
        df.rename(columns={column: new_column_name}, inplace=True)

# change column name 'altura'
substrings_to_replace_mp = ["mh", "altura", "mezcla"]
for column in df.columns:
    if any(substring in column.lower() for substring in substrings_to_replace_mp):
        new_column_name = "Altura de Mezcla (m)"
        df.rename(columns={column: new_column_name}, inplace=True)

df

      MP2,5 (µg/m³) Velocidad del viento (m/s)  Altura de Mezcla (m)
0              25.6                        3,0               124.207
1               7.0                        2,6                78.278
2               5.4                        1,8                51.695
3               4.0                        1,4                50.000
4              11.5                        1,2                50.000
...             ...                        ...                   ...
8317           10.1                        3,7               140.479
8318           11.8                        3,2                64.357
8319           12.5                        3,1                77.685
8320           10.8                        2,4                77.483
8321            8.8                        1,8                55.234

[8322 rows x 3 columns]

In [239]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {
    'B': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'C': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    'F': [0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
    'I': [0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
    }
df = pd.DataFrame(data)

df

     B   C    F    I
0    1   1  0.0  0.0
1    2   2  NaN  NaN
2    3   3  NaN  NaN
3    4   4  NaN  NaN
4    5   5  NaN  NaN
5    6   6  NaN  NaN
6    7   7  NaN  NaN
7    8   8  NaN  NaN
8    9   9  NaN  NaN
9   10  10  NaN  NaN
10  11  11  NaN  NaN

In [240]:
calculation_A = lambda x: x + 2 if pd.notna(x) else 0
calculation_B = lambda x: x + 3 if pd.notna(x) else 0

df['I'] = ( df['C'] + df['F'].shift()) * df['B']
df['F'] =   df['C'] - df['I']

df

     B   C    F    I
0    1   1  NaN  NaN
1    2   2 -2.0  4.0
2    3   3  NaN  NaN
3    4   4  NaN  NaN
4    5   5  NaN  NaN
5    6   6  NaN  NaN
6    7   7  NaN  NaN
7    8   8  NaN  NaN
8    9   9  NaN  NaN
9   10  10  NaN  NaN
10  11  11  NaN  NaN