In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/pedrosanhueza/EXOXY/Administrative Documents/Jobs/geoaire/Planilla I-tree Candelaria.csv")

In [5]:
df

,Fecha,"MP2,5 (µg/m³)",Velocidad del viento (m/s),Altura de \nMezcla (m)
0,44562.00000,25.6,"3,0",124.207
1,44562.04167,7.0,"2,6",78.278
2,44562.08333,5.4,"1,8",51.695
3,44562.12500,4.0,"1,4",50.000
4,44562.16667,11.5,"1,2",50.000
...,...,...,...,...
8317,44926.79167,10.1,"3,7",140.479
8318,44926.83333,11.8,"3,2",64.357
8319,44926.87500,12.5,"3,1",77.685
8320,44926.91667,10.8,"2,4",77.483
8321,44926.95833,8.8,"1,8",55.234

In [17]:
df[df.columns[2]].apply(lambda x: float(x.replace(",","."))).round()

0       3.0
1       3.0
2       2.0
3       1.0
4       1.0
       ...
8317    4.0
8318    3.0
8319    3.0
8320    2.0
8321    2.0
Name: Velocidad del viento (m/s), Length: 8322, dtype: float64