In [47]:
import pandas as pd

In [54]:
tabla1 = pd.DataFrame({
    'Velocidad viento (m/s)': [0, 0.03, 0.09, 0.15, 0.17, 0.19, 0.2, 0.56, 0.92, 0.92, 2.11, 2.11, 2.11, 2.11],
    'Promedio': [0, 0.006, 0.012, 0.018, 0.022, 0.025, 0.029, 0.056, 0.082, 0.082, 0.57, 0.57, 0.57, 0.57],
    'Mínimo': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.57, 0.57, 0.57, 0.57],
    'Máximo': [0, 0.042, 0.163, 0.285, 0.349, 0.414, 0.478, 1.506, 2.534, 2.534, 2.534, 2.534, 2.534, 2.534],
    '% Resuspensión': [0, 1.5, 3, 4.5, 6, 7.5, 9, 10, 11, 12, 13, 16, 20, 23]
})

tabla1

    Velocidad viento (m/s)  Promedio  Mínimo  Máximo  % Resuspensión
0                     0.00     0.000    0.00   0.000             0.0
1                     0.03     0.006    0.00   0.042             1.5
2                     0.09     0.012    0.00   0.163             3.0
3                     0.15     0.018    0.00   0.285             4.5
4                     0.17     0.022    0.00   0.349             6.0
5                     0.19     0.025    0.00   0.414             7.5
6                     0.20     0.029    0.00   0.478             9.0
7                     0.56     0.056    0.00   1.506            10.0
8                     0.92     0.082    0.00   2.534            11.0
9                     0.92     0.082    0.00   2.534            12.0
10                    2.11     0.570    0.57   2.534            13.0
11                    2.11     0.570    0.57   2.534            16.0
12                    2.11     0.570    0.57   2.534            20.0
13                    2.11     0.570    0.57   2.534            23.0

In [55]:
df = pd.read_csv("/Users/pedrosanhueza/EXOXY/Administrative Documents/Jobs/geoaire/Planilla I-tree Candelaria.csv")

In [56]:
df[df.columns[2]] = df[df.columns[2]].astype(str)

df[df.columns[2]] = df[df.columns[2]].apply(lambda x: x.replace(",","."))

df[df.columns[2]] = df[df.columns[2]].astype(float)

In [74]:
df

,Fecha,"MP2,5 (µg/m³)",Velocidad del viento (m/s),Altura de \nMezcla (m)
0,1/1/22 0:00,25.6,3.0,124
1,1/1/22 1:00,7.0,2.6,78
2,1/1/22 2:00,5.4,1.8,52
3,1/1/22 3:00,4.0,1.4,50
4,1/1/22 4:00,11.5,1.2,50
...,...,...,...,...
8317,12/31/22 19:00,10.1,3.7,140
8318,12/31/22 20:00,11.8,3.2,64
8319,12/31/22 21:00,12.5,3.1,78
8320,12/31/22 22:00,10.8,2.4,77
8321,12/31/22 23:00,8.8,1.8,55

In [79]:
def tom(x):
    return x + 1

In [80]:
df[df.columns[1]].apply(lambda x: tom(x))

0       26.6
1        8.0
2        6.4
3        5.0
4       12.5
        ...
8317    11.1
8318    12.8
8319    13.5
8320    11.8
8321     9.8
Name: MP2,5 (µg/m³), Length: 8322, dtype: float64